<%= render 'welcomepageheader' %>
<body>
  
  <div id="center-div">
   
  <div class="transbox">
    <h3> <logo> Zip Validation </logo> <br> Indian Groceries at your door step! </h3>
    <p> Sorry we do not deliver at your zipcode at the moment. <br>
    </p>
    


  </div>
    </div>
</body>

<%= render 'welcomepagefooter' %>